body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px gray;
    padding: 50px;

}
#transaction-area{
    display: none;
}

.status{
    color: white
    ;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
